html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

p {
  font-size: 22px;
  font-weight: 300;
}

.container {
  margin: 70px;
  font-family: 'Poppins';
}

.padding{
    padding-left: 10%;
    padding-right: 10%;
}

.title {
  font-size: 45px;
  font-weight: 500;
}


/*HEADER STYLING*/
#header {
  text-align: center;
}

#header-name {
  font-size: 60px;
  color: black;
  font-weight: 800;
}
/**/


/*MENU STYLING*/
.menu, .menu:link, .menu:visited{
  font-size: 30px;
  font-weight: 500;
  color: #6CC894; /* light green */
  text-decoration: none;
}

.menu:hover {
  color: #36654C; /* dark green */
  text-decoration: none;
}

.menu:active{
  color: #6CC894; /* light green */
  text-decoration: none;
}
/**/


/*LINE LINK STYLING*/
.line-link {
  text-decoration: underline;
  text-decoration-color: #6CC894;
  color: black;
}

.line-link:hover {
  color: #6CC894; /* light green */
  text-decoration: underline;
}
/**/


/*VISIT SITE STYLE*/
.site-link, .site-link:link, .site-link:visited {
  text-decoration:none;
  background-color: #6CC894;
  color: white;
  padding: 8px;
  border-radius: 6px;
  font-size: 20px;
}
.site-link:hover {
  text-decoration:none;
  background-color: #4aad76;
  color: white;
  padding: 8px;
  border-radius: 6px;
}
.site-link:active{
  background-color: #6CC894; /* light green */
  text-decoration: none;
  color:white;
}
/**/
